<h1>Your Cart</h1>

<% if notice %>
  <p><%= notice %></p>
<% end %>

<% @cart.line_items.each do |i| %>
<%#  binding.pry %>
  <p><%= link_to i.item.title, item_path(i.item) %> | <%= number_to_currency(i.item.price) %> | Quantity: <%= i.quantity %> | <% if i.item.inventory < 5 %>
    <strong>There are only <%= line_item.item.inventory %> left in stock.</strong>
  <% end %> </p>
<% end %>

<p>Order total: <strong><%= number_to_currency(@cart.total.to_f/100) %></strong> </p>

<% if @cart.status != "submitted" %>
  <%= button_to 'Checkout', checkout_path(@cart.id) %>
<% end %>
