<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %>
<% end %>

<% @items.each do |item| %>
  <% if current_user %>
    <p><%= item.title %> | <%= number_to_currency(item.price) %> |
      <%= form_tag "/line_items" do %>
      <%= submit_tag "Add To Cart" %>
      <% end %>
    </p>
  <% end %>
<% end %>
