<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %>
<% end %>

<% @items.each do |item| %>
  <p><%= item.title %> | <%= number_to_currency(item.price) %> |
  <% if current_user %>
    <form action="line_items" method="POST">
      <input type="hidden" name="item[id]" value= "<%= "#{item.id}" %>">
      <input type="hidden" name="item[title]" value="<%= "#{item.title}" %>">
      <input type="hidden" name="item[price]" value="<%= "#{item.price}" %>">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="Add to Cart" >
    </form>
  </p>
  <% end %>
<% end %>
