<nav class="">
  <ul>
    <li> <%= link_to "Store Home", store_path %> </li>
  </ul>

  <ul>
  <% if current_user %>
    <li> Signed in as <%= "#{current_user.email}" %></li>
    <li><%= link_to('Sign out', destroy_user_session_path, method: :delete)  %></li>
    <% if !!@cart %>
      <li> <%= link_to "Cart", cart_path(current_cart) %></li>
    <% end %>
  <% else %>
  </ul>

    <ul>
      <li><%= link_to('sign in', new_user_session_path) %></li>
      <li><%= link_to "Sign up", '/users/sign_up' %></li>

    </ul>
  <% end %>
</nav>
